# Demo Config File
# Comments are starting with # (has to be first char)

# Sample entries
helloMessage = Hello, World!
helloCount = 3
showHello = true
pi = 3.1415

# Environment variables used as expansion symbol
# Note: symbol names are case sensitive
tempFolder = %TEMP%

# already defined variables used as expansion symbol
tempSubFolder = %tempFolder%\config-demo

# Sub group example
baseName = Welcome Note
message1 = (
#  strings may use "; it does not make a difference, however.
   name = "%baseName% 1"
   text = Sample message text
)

message2 = (
   name = %baseName% II
   text = Another sample message text
)
